div {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    margin: 0 auto;
    background-color: Black;
    transition: margin-top 2s ease-in 0.2s;
}

div:hover {
    background-color: palevioletred;
    margin-top: 250px;
}